
<div class="row mt-3">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mt-4" *ngFor='let i of images'>
        <div class="card product_item">
            <div class="body">
                <div class="cp_img">
                    <img src="{{i}}" alt="Product" class="img-fluid">
                    <div class="hover">
                        <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect"><i class="zmdi zmdi-plus"></i></a>
                        <a href="javascript:void(0);" class="btn btn-primary btn-sm waves-effect ml-1"><i class="zmdi zmdi-shopping-cart"></i></a>
                    </div>
                </div>
                <div class="product_details mt-5">
                    <h5><a href="ec-product-detail.html">Simple Black Clock</a></h5>
                    <ul class="product_price list-unstyled">
                        <li class="old_price">$16.00</li>
                        <li class="new_price">$13.00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>