<div class="row my-5">
    <!--Single Service-->
    <div class="col-10 mx-auto col-md-6 col-lg-4 my-3 text-center">
        <span class="service-icon">
            <i class="fas fa-globe fa-2x"></i>
        </span>
        <h5 class="font-weight-bold text-uppercase">Worldwide Shipping</h5>
        <p class="text-capitalize">by top logistics</p>
    </div>
    <!--end of Service=-->
    <!--Single Service-->
    <div class="col-10 mx-auto col-md-6 col-lg-4 my-3 text-center">
        <span class="service-icon">
            <i class="fas fa-stamp fa-2x"></i>
        </span>
        <h5 class="font-weight-bold text-uppercase">Best of the creativity</h5>
        <p class="text-capitalize">Arts from emerging artists</p>
    </div>
    <!--end of Service=-->
    <!--Single Service-->
    <div class="col-10 mx-auto col-md-6 col-lg-4 my-3 text-center">
        <span class="service-icon">
            <i class="fas fa-file-invoice-dollar fa-2x"></i>
        </span>
        <h5 class="font-weight-bold text-uppercase">Best price</h5>
        <p class="text-capitalize">get the best artwork in affordable price</p>
    </div>
    <!--end of Service=-->
</div>